body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:8px;
    
}
#card{
    border:2px black solid;
    position: relative;
}
img{
    height:300px;
    width:300px;
}
#h3{
    font-weight: bold;
}
#h4{
    font-weight: bold;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    position: absolute;
    color:white;
    bottom:20px;
    left:15px;
    gap:8px;
}
